main {
    text-align: center;
}

input {
background:linear-gradient(#E8BC78,#C39566,#9F6F54);
border: 0.3vw solid #9c896a; 
border-radius: 1vw;
padding: 0 1vw;
width: 45vw;
height: 4vh;
margin-bottom: 25px;
}
.hide{
    display: none;
}
h2{
    margin-top: 0;
}
svg{
    width: 10vw !important;
    height: 10vw !important;
    display: inline;
    margin: 1vh 2vw !important;
}